###> symfony/framework-bundle ###
app/.env
app/var/cache/*
app/var/log/*
app/var/db/*
!app/var/db/.keep
app/vendor/
###< symfony/framework-bundle ###

# Managed by Composer
app/var/bootstrap.php.cache
app/bin/*
!app/bin/console
!app/bin/symfony_requirements

# Assets and user uploads
app/public/bundles/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~
.idea/

###> friendsofphp/php-cs-fixer ###
app/.php_cs
app/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> behat/symfony2-extension ###
app/behat.yml
###< behat/symfony2-extension ###

###> symfony/web-server-bundle ###
app/.web-server-pid
###< symfony/web-server-bundle ###
